################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/sqlexec/obj
/src/.vs
/src/sqlexec/bin
/src/sqlExecTests/bin
/src/sqlExecTests/obj
